<h1>Find events by city</h1>

<div class="container">
 <form class="form-horizontal form-cities">
    <div class="form-group">
      <label for="labelCity" class="col-sm-2 control-label"></label>
      <div class="col-sm-10">
        <input type="text" class="form-control inputCity" id="inputCity" placeholder="Search any city in the world!">
        <button type="submit" class="btn btn-default">Gimme tha concerts!</button>
      </div>
    </div>
  </form>
</div>

<div class="container">
  <div class="filter-set">
    <hr>
    <label class="radio-inline">
      <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> Date
    </label>
    <label class="radio-inline">
      <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> Price / cheap first
    </label>
    <label class="radio-inline">
      <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3"> Price / expensive first
    </label>
    <hr>
  </div>
  <ul class="list-group">
    <!-- EVENTS LIST INSERTED HERE FROM home.js-->
 </ul>
</div>
