<ul>
	<li class = "show-title-event"> </li>
	<li class = "show-date-eventt"> </li>
	<li class = "show-place-event"> </li>
	<li class = "show-city-event"> </li>
	<li class = "show-address-event"> </li>

	<div class = "show-each-performers">

	</div>

</ul>	